@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --shadow: 0px 0px 15px #0004;
}

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
